.game-screen {
    width: 100%;
    height: 100%;
    max-width: 50rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.logo-score-wrapper {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    border: 2px solid var(--grey);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-score-wrapper:hover {
    border-color: var(--slate-100);
}

.page-logo {
    padding: 0.75rem;
    width: 10rem;
}

.score-wrapper {
    width: 36%;
    max-width: 10rem;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-text {
    color: var(--blue-600);
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
}

.user-score {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--navy-800);
}

.game-board {
    width: 100%;
}

.pick-board, .result-board {
    display: none;
}

.pick-board.active {
    display: flex;
}

.result-board.active {
    display: grid;
}

.pick-board {
    position: relative;
    width: min(360px, 90vw);
    height: min(400px, 90vw);
    margin: 0 auto;
    --choice-size: clamp(60px, 18vw, 120px);

}

.pick-board .anchor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 100%;
    height: auto;
}

.pick-board .choice {
    background: none;
    border: none;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: scale 0.2s;
}

.pick-board .choice:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.151));
}

.pick-board .choice-ring {
    position: relative;
    width: var(--choice-size);
    height: var(--choice-size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: white;
    box-shadow: inset 0 0.5rem rgba(0,0,0,0.15);
}

.pick-board .choice-ring img {
    width: 40%;
    height: auto;
}

.pick-board .choice-ring img:hover {
    animation: shake 0.8s ease-in-out infinite;
}

@keyframes shake {
    0%   { transform: translateX(0) rotate(0deg); }
    20%  { transform: translateX(-2px) rotate(-0.5deg); }
    40%  { transform: translateX(2px)  rotate(0.5deg); }
    60%  { transform: translateX(-2px) rotate(-0.5deg); }
    80%  { transform: translateX(2px)  rotate(0.5deg); }
    100% { transform: translateX(0) rotate(0deg); }
}

.choice-ring::before {
    content: '';
    position: absolute;
    inset: -1.5rem;
    border-radius: 50%;
    z-index: -1;
}

.choice-ring.rock::before {
    background: hsl(349, 71%, 52%);
     box-shadow: 0 8px 0 hsl(349, 70%, 30%);
}

.choice-ring.paper::before {
    background: hsl(230, 89%, 62%);
    box-shadow: 0 8px 0 hsl(230, 89%, 40%);
}

.choice-ring.scissors::before {
    background: hsl(39, 89%, 49%);
    box-shadow: 0 8px 0 hsl(40, 84%, 35%);
}

.choice-ring.lizard::before {
    background: hsl(261, 73%, 60%);
    box-shadow: 0 8px 0 hsl(261, 72%, 40%);
}

.choice-ring.spock::before {
    background: hsl(189, 59%, 53%);
    box-shadow: 0 8px 0 hsl(189, 58%, 35%);
}

.pick-board .choice[data-choice="rock"] {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.pick-board .choice[data-choice="paper"] {
    top: 0;
    left: 0;
}

.pick-board .choice[data-choice="scissors"] {
    top: 0;
    right: 0;
}

.pick-board.pentagon .choice[data-choice="rock"] {
    bottom: -6%;
    left: 80%;
    transform: translateX(-50%);
}

.pick-board.pentagon .choice[data-choice="paper"] {
    top: 25%;
    left: 82%;
}

.pick-board.pentagon .choice[data-choice="scissors"] {
    top: -8%;
    right: 35%;
}

.pick-board.pentagon .choice[data-choice="lizard"] {
    bottom: -6%;
    right: 65%;
}

.pick-board.pentagon .choice[data-choice="spock"] {
    top: 25%;
    right: 82%;
}

.result-board {
    width: 100%;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        'you house'
        'outcome outcome';
    gap: 3rem;
    color: whitesmoke;
}

.result-board .picked {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.result-board .choice {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    position: relative;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.result-board .choice-ring {
    width: 10rem;
    height: 10rem;
    position: relative;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: white;
    box-shadow: inset 0 0.5rem rgba(0,0,0,0.15);
}

.result-board .choice-ring img {
    width: 4rem;
    height: auto;
}

.result-board .picked-text {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.125rem;
    text-align: center;
}

.result-board .play-again-btn {
    width: 80%;
    max-width: 15rem;
    padding: 1rem 0;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 0.125rem;
    background-color: white;
    color: var(--navy-900);
    border: none;
    cursor: pointer;
    transition: scale 0.2s;
}

.result-board .play-again-btn:hover {
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.151));
    color: hsl(349, 71%, 52%);
    scale: 1.1;
}

.result-board .picked .you {
    grid-area: you;
}

.result-board .outcome {
    grid-area: outcome;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.result-board .outcome.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


.result-board .result-text {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.result-board .picked .house {
    grid-area: house;
}


.result-board .choice.winner {
    position: relative;
    display: flex;
    align-items: center;
    z-index: -1;
    border-radius: 50%;
    animation: ripple-faded 3s ease-in-out infinite;
}

@keyframes ripple-faded {
    0%, 100% {
        box-shadow: 
            inset 0px -12px 0px rgba(0, 0, 0, 0.15),
            0px 0px 0px 120px rgba(45, 49, 101, 0.15), 
            0px 0px 0px 85px rgba(58, 63, 130, 0.2),  
            0px 0px 0px 45px rgba(71, 77, 158, 0.25); 
    }
    
    50% {
        box-shadow: 
            inset 0px -12px 0px rgba(0, 0, 0, 0.15),
            0px 0px 0px 180px rgba(45, 49, 101, 0.05),
            0px 0px 0px 120px rgba(58, 63, 130, 0.1),
            0px 0px 0px 70px rgba(71, 77, 158, 0.15);
    }
}


.result-board .choice-placeholder {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: hsl(237, 49%, 15%); 
    animation: pulse 2s ease-in-out infinite;
    z-index: 1;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
}

.game-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-controls .btn {
    padding: 0.5rem 1.75rem;
    background: transparent;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.125rem;
    color: whitesmoke;
    border: none;
    border: 2px solid var(--grey);
    border-radius: 0.5rem;
    cursor: pointer;
}

.game-controls .btn:hover,
.game-controls .btn.is-active {
    background-color: whitesmoke;
    color: var(--blue-600);
    border-color: var(--navy-700);
}

@media (max-width: 480px) {
    .pick-board {
        width: min(300px, 90vw);
        height: min(300px, 90vw);
    }
    .result-board .choice-ring {
        width: 8rem;
        height: 8rem;
    }
    
    .result-board .choice-ring img {
        width: 3.5rem;
    }

    .result-board .result-text {
        font-size: 3rem;
    }
    
}

@media (max-width: 768px) {
    .result-board {
        min-height: 31.25rem;
    }

    .result-board .picked {
        justify-content: flex-start; 
    }

    .result-board .outcome {
        height: 9.375rem; 
    }
}

@media (prefers-reduced-motion: reduce) {
    .choice-ring img:hover {
        animation: none;
    }
}

@media (min-width: 768px) {
    .pick-board {
        width: min(420px, 90vw);
        height: min(420px, 90vw);
    }

    .result-board {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'you outcome house';
        place-items: center;
    }
    .result-board .choice-ring,
    .result-board .choice-placeholder {
        width: 13rem;
        height: 13rem;
    }

    .result-board .outcome {
        padding-top: 0;
    }

    .result-board .picked {
        flex-direction: column;
        position: relative;
    }

    .result-board .picked-text {
        font-size: 1.325rem;
        font-weight: 600;
        position: absolute;
        top: -65%;
    }

    .result-board .result-text {
        font-size: 3.25rem;
    }
    
    .result-board .play-again-btn {
        width: 12rem;
    }
}