@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Outfit:wght@100..900&display=swap');
:root {
  --color-bg-primary: hsl(202, 32%, 15%);
  --color-bg-secondary: hsl(199, 35%, 19%);
  --color-text-muted: hsl(195, 36%, 82%);
  --color-text-muted-hover: hsl(197, 33%, 89%); 
  --color-accent-warning: hsl(39, 88%, 58%);
  --color-accent-warning-hover: hsl(39, 100%, 69%);
  --color-accent-success: hsl(178, 60%, 48%);
  --color-accent-success-hover: hsl(178, 75%, 65%);
  --shadow-color-dark: hsl(201, 45%, 11%);
  --shadow-color-light: hsl(199, 17%, 51%);
  --shadow-accent-yellow: hsl(39, 88%, 40%);
  --shadow-accent-cyan: hsl(178, 67%, 30%);
  --color-accent-gray:  #A8BFC9; 
  --font-display-outfit: "Outfit", sans-serif;
  --font-display-mochiy: "Mochiy Pop One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

button {
  -webkit-tap-highlight-color: transparent; 
  outline: none; 
}


.menu-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2000;
    background-color: var(--color-bg-primary);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sign-picker {
    width: 90%;
    max-width: 35rem;
    padding: 2rem;
    border-radius: 0.75rem;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-muted);
    font-family: var(--font-display-outfit);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-color-dark) 0px -6px 0px inset;
}

.sign-picker h1 {
    font-size: clamp(0.5rem, 5vw, 1.125rem);
}

.sign-picker p {
    font-size: clamp(0.5rem, 5vw, 1rem);
    opacity: 0.5;
    word-spacing: 0.125rem;
}

.player-symbol {
    width: 95%;
    border-radius: 0.75rem;
    background-color: var(--shadow-color-dark);
    display: flex;
    justify-content: center;
}

.sign-btn {
  width: 50%;
  height: 3.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--shadow-color-dark);
  color: var(--color-text-muted);
  cursor: pointer;
  transition: all 0.3s;
}


.sign-btn.selected {
    border: none;
    color: var(--shadow-color-dark);
    background-color: var(--color-text-muted);
}

.sign-btn svg {
  width: 2.25rem;
  height: 2.25rem;
}

.choose-player {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.choose-player .player-option-btn {
    width: 90vw;
    max-width: 35rem;
    height: 4rem;
    padding: 0 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition:
        transform 0.1s ease,
        background-color 0.15s ease,
        box-shadow 0.1s ease;
}

.choose-player button:nth-child(1) {
    background-color: var(--color-accent-warning);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-accent-yellow) 0px -6px 0px inset;
}

.choose-player button:nth-child(1):hover {
    transform: translateY(-1px);
    background-color: var(--color-accent-warning-hover);
}

.choose-player button:nth-child(1):active {
    transform: translateY(2px);
}


.choose-player button:nth-child(2) {
    background-color: var(--color-accent-success);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-accent-cyan) 0px -6px 0px inset;
}

.choose-player button:nth-child(2):hover {
    transform: translateY(-1px);
    background-color: var(--color-accent-success-hover);
}

.choose-player button:nth-child(2):active {
    transform: translateY(2px);
}

main {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.game-controls {
    width: 95%;
    max-width: 32rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.game-logo {
    width: 6rem;
}

.player-turn-update {
    width: 10rem;
    height: 4rem;
    padding: 0 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-muted);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-color-dark) 0px -4px 0px inset;
}

.player-icon {
    display: block;
    width: auto;
    height: 3rem;
}

.player-turn-update p {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--font-display-outfit);
}

.restart-btn {
    width: 3.5rem;
    height: 3.75rem;
    background-color: var(--color-text-muted);
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-color-light) 0px -4px 0px inset;
    cursor: pointer;
    transition:
        transform 0.1s ease,
        background-color 0.15s ease,
}

.restart-btn:hover {
    transform: translateY(-1px);
    background-color: var(--color-text-muted-hover);
}

.restart-btn:active {
    transform: translateY(2px);
}

.restart-modal-overlay {
    display: none;
    place-items: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.restart-modal-content {
    width: 100%;
    color: var(--color-text-muted);
    background-color: var(--color-bg-secondary);
    padding: 4rem 2rem;
    font-family: var(--font-display-mochiy);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.restart-message {
    font-size: 2rem;
}

.restart-buttons {
    display: flex;
    gap: 2rem;
}

.restart-buttons button  {
    height: 3rem;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.5rem 1.75rem;
    border-radius: 0.5rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
    transition:
        transform 0.1s ease,
        background-color 0.15s ease,
        box-shadow 0.1s ease;
}

.restart-buttons button:nth-child(1) {
    background-color: var(--color-text-muted);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-color-light) 0px -4px 0px inset;
}

.restart-buttons button:nth-child(1):hover {
    transform: translateY(-1px);
    background-color: var(--color-text-muted-hover);
}

.restart-buttons button:nth-child(1):active {
    transform: translateY(2px);
}

.restart-buttons button:nth-child(2)  {
    background-color: var(--color-accent-warning);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-accent-yellow) 0px -4px 0px inset;
}

.restart-buttons button:nth-child(2):hover  {
    transform: translateY(-1px);
    background-color: var(--color-accent-warning-hover);
}

.restart-buttons button:nth-child(2):active {
    transform: translateY(2px);
}

.game-board {
    width: 95%;
    max-width: 32rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    gap: 1.25rem;
}

.game-board .cell {
    aspect-ratio: 1 / 1;  
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    background-color: var(--color-bg-secondary);
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        var(--shadow-color-dark) 0px -6px 0px inset;
}

.mark-icon {
  width: 60%;
  height: 60%;
  pointer-events: none;
}

.x-icon {
  width: 62%;
  color: var(--color-accent-success);
}

.o-icon {
  width: 55%;
  color: var(--color-accent-warning);

}

.player-controls {
    width: 95%;
    max-width: 32rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.score {
    width: 12rem;
    height: 4rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-display-outfit);
}

.score > div {
    font-weight: 600;
}

.score.x-color  {
    background-color: var(--color-accent-success);
}

.score.x-color:hover {
    background-color: var(--color-accent-success-hover);
}

.score.neutral  {
    background-color: var(--color-text-muted);
}

.score.neutral:hover  {
    background-color: var(--color-text-muted-hover);
}

.score.o-color  {
    background-color: var(--color-accent-warning);
}

.score.o-color:hover  {
    background-color: var(--color-accent-warning-hover);
}

.modal-overlay {
    display: none;
    place-items: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal {
    width: 100%;
    color: var(--color-text-muted);
    background-color: var(--color-bg-secondary);
    padding: 2rem;
    font-family: var(--font-display-mochiy);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.game-result {
    color: var(--color-accent-success);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.winner-icon {
    display: block;
    width: auto;
    height: 5rem;
}

.modal-message {
    font-size: clamp(0.75rem, 2vw, 1rem);
}

.round-highlight {
    font-size: clamp(1.75rem, 5vw, 2.5rem);
    font-weight: 600;
}

.winner-icon.x-winner,
.round-highlight.x-winner {
    color: var(--color-accent-success);
}

.winner-icon.o-winner,
.round-highlight.o-winner {
    color: var(--color-accent-warning);
}

.round-highlight.tie-result {
    color: var(--color-accent-gray);
}

.cell.win-cell.x-mark {
    background-color: var(--color-accent-success);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-accent-cyan) 0px -4px 0px inset;
}

.cell.win-cell.x-mark .x-icon,
.cell.win-cell.o-mark .o-icon {
    color: var(--color-bg-secondary);
}

.cell.win-cell.o-mark {
    color: var(--color-bg-secondary);
    background-color: var(--color-accent-warning);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-accent-yellow) 0px -4px 0px inset;
}


.modal-actions {
    display: flex;
    gap: 1rem;
}

.modal-actions button  {
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.5rem 1.75rem;
    border-radius: 0.325rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
    transition:
        transform 0.1s ease,
        background-color 0.15s ease,
        box-shadow 0.1s ease;
}

.modal-actions button:nth-child(1) {
    background-color: var(--color-text-muted);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-color-light) 0px -3px 0px inset;
}

.modal-actions button:nth-child(1):hover {
    transform: translateY(-1px);
    background-color: var(--color-text-muted-hover);
}

.modal-actions button:nth-child(1):active {
    transform: translateY(2px);
}

.modal-actions button:nth-child(2)  {
    background-color: var(--color-accent-warning);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, var(--shadow-accent-yellow) 0px -4px 0px inset;
}

.modal-actions button:nth-child(2):hover  {
    transform: translateY(-1px);
    background-color: var(--color-accent-warning-hover);
}

.modal-actions button:nth-child(2):active {
    transform: translateY(2px);
}

@media (max-width: 480px) {
    .game-controls {
        width: 100%;
    }

    .game-logo {
        width: 4rem;
    }

    .player-turn-update {
        width: 7rem;
        height: 3rem;
        padding: 0;
    }

    .player-icon {
        display: block;
        width: auto;
        height: 1.5rem;
    }
    
    .winner-icon {
        width: auto;
        height: 2rem;
    }

    .player-turn-update p {
        font-size: 1rem;
    }
    
    .restart-btn {
        width: 3rem;
        height: 3rem;
    }
    
    .restart-message {
        font-size: 1.25rem;
    }

    .restart-buttons button  {
        height: 3.6rem;
        font-size: 0.75rem;
        padding: 0.5rem 2rem;
    }

    .round-highlight {
        font-size: clamp(0.75rem, 5vw, 1.5rem);
    }

    .modal-message {
        font-size: clamp(0.55rem, 2vw, 1rem);
    }
}

@media (min-width: 768px) {
    main {
        width: 45rem;
    }
}