@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /*base palette*/
    --light-blue: #d7e0ff;
    --red: #f87070;
    --red-hover: #fa3838;
    --cyan: #70f3f8;
    --cyan-hover: #38dee4;
    --purple: #d881f8;
    --purple-hover: #ce60f7;
    --white: #ffffff;
    --dark-blue: #1e213f;
    --darker-blue: #161932;
    --linear-gradient: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
    --box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;


    /*fonts*/
    --kumbh-sans: 'Kumbh Sans', sans-serif;
    --roboto-slab: 'Roboto Slab', serif;
    --space-mono: 'Space Mono', monospace;

    /*active theme tokens*/
    --theme-color: var(--red);
    --theme-color-hover: var(--red-hover);
    --theme-font: var(--kumbh-sans);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: var(--theme-font);
    background-color: var(--dark-blue);
    color: var(--light-blue);
    overflow: hidden;
}

div {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

main {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative;
    user-select: none;
    overflow: hidden;
}

.pomodoro-toggle {
    width: 98%;
    max-width: 25rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--darker-blue);
    border-radius: 2rem;
    cursor: pointer;
}

.count-display-text {
    flex: 1;
    font-weight: 600;
    text-align: center;
    color: var(--light-blue);
    padding: 0.875rem 0.25rem;
}

.count-display-text.active-timer {
    background-color: var(--theme-color);
    color: var(--darker-blue);
    border-radius: 2rem;
}

.count-display-text.active-timer:hover {
    background-color: var(--theme-color-hover);
}

.countdown-display-wrapper {
    width: 28rem;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--linear-gradient);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.main-display-wrapper {
    height: 26rem;
    width: 26rem;
    background-color: var(--darker-blue);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    position: relative;
}

.countdown-loop {
    padding: 1rem;
    position: absolute;
    color: var(--theme-color);
    z-index: 10;
    pointer-events: none;
    transform: rotate(-90deg);
    transform-origin: center;
}

.ring {
    fill: none;
    stroke: currentColor;
    stroke-width: 8;
    stroke-linecap: round;
}

.main-display-wrapper:hover .countdown-loop {
    color: var(--theme-color-hover);
}

#timer_countdown {
    text-align: center;
    font-size: 6rem;
}

.timer-controls-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#timer_control {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.625rem;
}

#restart_icon {
    width: 1.25rem;
    color: var(--light-blue);
}

.settings-section {
    cursor: pointer;
}

#dialog {
    width: 90%;
    max-width: 36rem;
    height: 22rem;
    margin: auto;
    border-radius: 1.5rem;
    padding: 2rem;
    border: none;
    user-select: none;
    position: relative;
    overflow: visible;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

#dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

#dialog form hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: var(--light-blue);
}

#dialog form h4 {
    color: var(--darker-blue);
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
}

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-header h3 {
    font-size: 1.5rem;
    color: var(--darker-blue);
}

#settings_close_icon {
    cursor: pointer;
}

.time-display-settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.time-settings {
    width: 100%;
    display: inline-flex;
    gap: 1rem;
    color: var(--dark-blue);
}

.custom-time-settings label {
    font-size: 0.75rem;
    font-weight: 700;
    opacity: 0.5;
}

.custom-time-settings {
    width: 30.5%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.custom-time-settings input {
    appearance: none;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background-color: var(--light-blue);
    color: var(--darker-blue);
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 600;
    padding-left: 1rem;
}

.font-display-settings,
.color-display-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font-picker,
.color-picker {
    display: inline-flex;
    gap: 1rem;
    cursor: pointer;
}

.custom-font {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--light-blue);
    font-size: 0.875rem;
    color: var(--dark-blue);
    font-weight: 600;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-font.active-font,
.custom-font:hover {
    background-color: var(--darker-blue);
    color: var(--white);
    opacity: 1;
}

.custom-color {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-color {
    border: 1px solid var(--darker-blue);
}

.kumbh-sans {
    font-family: var(--kumbh-sans);
}

.roboto-slab {
    font-family: var(--roboto-slab);
}

.space-mono {
    font-family: var(--space-mono);
}

.red {
    background-color: var(--red)
}

.red:hover {
    background-color: var(--red-hover)
}

.cyan {
    background-color: var(--cyan);
}

.cyan:hover {
    background-color: var(--cyan-hover);
}

.purple {
    background-color: var(--purple);
}

.purple:hover {
    background-color: var(--purple-hover);
}

.apply-settings {
    width: 6rem;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--theme-color);
    color: var(--white);
    font-family: inherit;
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.apply-settings:hover {
    background-color: var(--theme-color-hover);
}

@media (max-width: 480px) {
    body {
        overflow: scroll;
    }
    .countdown-display-wrapper {
        width: 22rem;
        height: 22rem;  
    }
    .main-display-wrapper {
        height: 20rem;
        width: 20rem;
    }
    #timer_countdown {
        font-size: 5rem;
    }
}