
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

header {
    width: 100%;
    height: 35%;
    background: url(./assets/pattern-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
}

.ip-address-form {
    width: 90vw;
    display: flex;
    justify-content: center;
}

.ip-address-form input:focus {
    border: 0.25rem solid rgb(243, 156, 74);
}

.ip-address-form input {
    width: 90%;
    height: 3.5rem;
    border: none;
    border-top-left-radius: 0.875rem;
    border-bottom-left-radius: 0.875rem;
    padding-left: 1.5rem;
    font-size: 0.875rem;
    outline: none
}

.ip-search-btn {
    width: 3.5rem;
    background-color: #000;
    border: none;
    border-top-right-radius: 0.875rem;
    border-bottom-right-radius: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ip-search-btn:hover {
    background-color: rgb(243, 156, 74);
}

.arrow-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
}

.arrow-icon:hover {
    color: #000;
}

main {
    width: 100vw;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#user_tracking_info {
    width: 85%;
    border-radius: 0.75rem;
    padding: 1.5rem;
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    overflow: hidden;
    z-index: 10;
}

.user-tracking-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-tracking-details p {
    color: gray;
    font-size: 0.875rem;
    font-weight: 600;
}

.user-tracking-details h2 {
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
}

#user-tracking-info hr {
    display: none
}

#map {
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (min-width: 768px) {
    header {
        background: url(./assets/pattern-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .ip-address-form input {
        width: 25rem;
        font-size: 1rem;
    }

    #user_tracking_info {
        width: 90%;
        max-width: 65rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-content: flex-start;
        align-items: start;
        gap: 1.5rem;
    }

    #user_tracking_info hr {
        border: none;
        width: 0.063rem;
        height: auto;
        align-self: stretch;
        background-color: rgb(167, 159, 159);
    }

    .user-tracking-details {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: flex-start;
    }
}