.categories-state {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}