.categories-state {
    width: 100%;
    max-width: 70rem;
    height: 100%;
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;
}

.categories {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.category {
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--blue-700);
    box-shadow: 0 0.2rem 0 0.3rem var(--indigo-900);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    color: var(--white);
    transition: transform 0.15s ease;
    cursor: pointer;
}


.category:hover {
    transform: translateY(-2px);
    background-color: var(--blue-600);
}

@media (min-width: 780px) {
    .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 4rem;
    }

    .category {
        height: 10rem;
        border-radius: 1.75;
        font-size: 2.75rem;
    }
}

@media (min-width: 1024px) {
    .categories-state {
        max-width: 80rem;
    }
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
}