game-state {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem 0;
    overflow: visible;
}
