.game-state {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    overflow: hidden;
}

.game-board-menu {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 2rem 0;
}

.game-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#selected-category {
    font-size: 2.5rem;
}

.hearts-control {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.hearts-bar {
    width: 8rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hearts-range {
    width: 7rem;
    height: 0.75rem;
    border-radius: 1rem;
    background-color: var(--indigo-900);
}

.heart-icon {
    position: absolute;
    top: -3.5rem;
}

.game-keyboard {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.keyboard-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.key-btn {
    flex: 1;
    padding: 0.875rem 0;
    border: none;
    border-radius: 1rem;
    background: var(--white);
    color: var(--indigo-900);
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.key-btn:hover:not(:disabled) {
    background: var(--blue-700-alpha);
    color: var(--white);
    transform: scale(1.05);
}

.key-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.key-btn.used {
    opacity: 0.2;
}

@media (min-width: 576px) {
    .hearts-control {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .heart-icon {
        position: relative;
        top: 0;
    }

    #selected-category {
        font-size: clamp(3rem, 5vw, 5rem);
    }
    
    .key-btn {
        padding: 1.5rem 0;
        border-radius: 1.75rem;
        font-size: 2rem;
    }
}


@media (min-width: 1024px) {
    .game-state {
        max-width: 80rem;
    }
    .game-keyboard {
        width: 90%;
    }
}