.instructions-state {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem 0;
    overflow: visible;
}


.instructions {
    width: 90%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.instruction-template {
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    overflow: hidden;
}

.instruction-text-headings {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.instruction-number {
    font-size: 2rem;
    font-weight: 400;
    color: var(--blue-600);
}

.instruction-heading {
    word-spacing: 0.25rem;
    font-size: 1.625rem;
    font-weight: 400;
    color: var(--slate-950)
}

.instruction-text {
    padding: 1rem 0;
    color: var(--slate-950-alpha);
    font-size: 1.25rem;
    line-height: 1.6;
}

@media (min-width: 780px) {
    .instructions {
        max-width: 45rem;
    }

    .instruction-template {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .instruction-text-headings {
        grid-column: 1 / 3; 
        display: flex;
    }

    .instruction-heading {
        font-size: 2.25rem;
    }

    .instruction-number {
        font-size: 6rem;
    }

    .instruction-text {
        font-size: 1.5rem;
        grid-column: 2;
        margin-left: 5.5rem;
        margin-top: -2rem;
    }
}

@media (min-width: 1024px) {
    .instructions-state {
        max-width: 70rem;
    }

    .instructions {
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .instruction-template {
        height: 34rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .instruction-text-headings {
        display: flex;
        flex-direction: column;
    }

    .instruction-number {
        font-size: 4rem;
    }
    
    .instruction-text {
        font-size: 1.625rem;
        margin: 0;
    }

}