@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --dark-purple: #5C2DD5;
    --purple: #7945FF;
    --blue: #3128df;
    --red: #FD6687;
    --dark-red: #df385c;
    --yellow: #FFCE67;
    --dark-yellow: #d4a337;
}

body {
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
}

body[data-state="start"] { 
    background-color: var(--dark-purple); 
}

body[data-state="rules"],
body[data-state="game"] { 
    background-color: var(--purple); 
}


div, button {
    -webkit-tap-highlight-color: transparent;
}


main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
  display: none;
}

.screen.active {
  display: flex;
}

button {
    font-family: inherit;
    cursor: pointer;
}