
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

header {
    width: 100%;
    height: 30%;
    background: url(./assets/pattern-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
}

.ip-address-form {
    display: flex;
}

.ip-address-form input {
    width: 20rem;
    height: 3.5rem;
    border: none;
    border-top-left-radius: 0.875rem;
    border-bottom-left-radius: 0.875rem;
    padding-left: 1.5rem;
    font-size: 0.875rem;
    outline: none
}

.ip-search-btn {
    width: 3.5rem;
    background-color: #000;
    border: none;
    outline: none;
    border-top-right-radius: 0.875rem;
    border-bottom-right-radius: 0.875rem;
    cursor: pointer;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#user-tracking-info {
    width: 80%;
    border-radius: 0.75rem;
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: rgb(162, 231, 236);
    margin-top: -4rem;
}

#user-tracking-info hr {
    display: none
}

@media (min-width: 768px) {
    header {
        background: url(./assets/pattern-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .ip-address-form input {
        width: 25rem;
        font-size: 1rem;
    }
}