@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --color-neutral-900: #12131a;
  --color-neutral-800: #21222c;
  --color-neutral-700: #2a2b37;
  --color-neutral-600: #404254;
  --color-neutral-200: #e4e4ef;
  --color-neutral-100: #f2f2f7;
  --color-neutral-0: #ffffff;
  --color-purple-400: #d3a0fa;
  --color-purple-500: #c27cf8;
  --yellow-500: #ff9f00;
  --orange-500: #fe8159;
  --orange-800: #da3701;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "DM Sans", sans-serif;
    background-image: url(./assets/bg-dark-theme.png);
    color: var(--color-neutral-0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 90%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.theme-wrapper {
    display: flex;
    background-color: var(--color-neutral-600);
    padding: 0.375rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

main input {
    font-family: "DM Sans", sans-serif;
}

main h1 {
    width: 80%;
    font-size: clamp(2.625rem, 4vw, 3.5rem);
    text-align: center;
    padding-top: 2rem;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.analyzer-content {
    width: 90vw;
    height: 14rem;
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-0);
    border: none;
    border-radius: 0.625rem;
    outline: 0.125rem solid var(--color-neutral-700);
    font-size: 1rem;
    padding: 2rem 1rem;
    resize: none;
}

.analyzer-content:hover {
    background-color: var(--color-neutral-700);
    outline: 0.125rem solid var(--color-neutral-600);
}

.analyzer-content:focus {
    outline: 0.125rem solid var(--color-purple-500);
    box-shadow: 
        rgba(155, 89, 182, 0.4) -5px 5px,
        rgba(165, 99, 192, 0.3) -10px 10px,
        rgba(145, 79, 172, 0.2) -15px 15px,
        rgba(170, 110, 200, 0.1) -20px 20px,
        rgba(140, 70, 160, 0.05) -25px 25px;
}

.analyzer-content::placeholder {
    color: var(--color-neutral-200);
    opacity: 0.5;
}

.limit-wrapper {
    padding-top: 0.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    display:  none;
}

.limit-wrapper.show {
    display: inline-flex;
}

.limit-warning {
    color: var(--orange-800);
    font-size: 0.9rem;
}

.checkbox-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    color: var(--color-neutral-200);
}

input[type="checkbox"] {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--color-neutral-900);
    border: 1px solid var(--color-neutral-200);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--color-purple-400);
    border: none;
}

input[type="checkbox"]:focus {
    outline: transparent;
    background-color: var(--color-neutral-0);
    border-color: var(--color-neutral-200);
    box-shadow: 0 0 0 2px var(--color-neutral-0),0 0 0 4px var(--color-purple-400);
}

input[type="checkbox"]:checked:focus {
    background-color: var(--color-purple-400);
    border: none;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    width: 0.25rem;
    height: 0.563rem;
    border: solid var(--color-neutral-900);
    border-width: 0 0.125rem 0.125rem 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:checked::after:focus {
    content: '';
    position: absolute;
    width: 0.25rem;
    height: 0.563rem;
    border: solid var(--color-neutral-900);
    border-width: 0 0.125rem 0.125rem 0;
    transform: rotate(45deg);
}

.exclude-spaces-input {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    position: relative;
}

.set-character-limit {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    position: relative;
}

.set-character-limit input[type="number"] {
    appearance: none;
    width: 3rem;
    max-width: 6rem;
    height: 1.5rem;
    background-color: var(--color-neutral-900);
    color: var(--color-neutral-200);
    border: 1px solid var(--color-neutral-600);
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    transition: width 0.2s ease;
}


.set-character-limit input[type="number"]:focus {
    outline: none;
}

.set-character-limit input[type="number"]::placeholder {
    color: var(--color-neutral-200);
}

.character-space-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.display-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.count-display {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.display {
    width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.display-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    color: var(--color-neutral-900);
}

.display-text h2 {
    font-size: 3rem;
}

.display-text #count-text {
    font-size: 1.25rem;
    font-weight: 500;
    white-space: nowrap;
}

.character-display {
    background-color: var(--color-purple-400);
}

.word-display {
    background-color: var(--yellow-500);
}

.sentence-display {
    background-color: var(--orange-500);
}

.letter-density-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem 0;
    color: var(--color-neutral-200);
}

.letter-density-wrapper h3 {
    font-size: 1.5rem;
}

.letter-density-wrapper #default-text {
    padding-bottom: 1rem;
}

.letter-list {
    list-style: none;
}

.letter-item {
    width: 90vw;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.letter-item.hidden-item {
    display: none;
}

.toggle-text {
    margin-top: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.toggle-text:hover {
    color: var(--color-purple-500);
}

.toggle-text .arrow {
    font-size: 0.75rem;
}

.letter {
    width: 1rem;
    font-size: 1rem;
    font-weight: bold;
    flex-shrink: 0;
    text-align: center;
}

.letter-bar-wrapper {
    flex: 1;
    background: var(--color-neutral-800);
    height: 0.75rem;
    border-radius: 2rem;
    overflow: hidden;
}

.letter-bar {
    height: 100%;
    background: var(--color-purple-400);
    border-radius: 2rem;
}

.letter-percentage {
    width: 5.75rem;
    text-align: right;
    font-size: 1rem;
    flex-shrink: 0;
    white-space: nowrap;
}


@media (min-width: 768px) {
    .checkbox-content {
        display: flex;
        flex-direction: row;
    }
    .character-space-wrapper {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    header,
    main,
    .analyzer-content,
    .letter-item {
        width: 62rem;
    }
    .count-display {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

body.light {
    background-image: url('./assets/bg-light-theme.png'); 
    color: var(--color-neutral-900);
}

body.light .theme-wrapper {
    background-color: var(--color-neutral-200);
}

body.light .analyzer-content {
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-900);
    outline: 0.125rem solid var(--color-neutral-200);
}

body.light .analyzer-content:hover {
    background-color: var(--color-neutral-200);
    outline: 0.125rem solid var(--color-neutral-200);
}

body.light .analyzer-content::placeholder {
    color: var(--color-neutral-900);
}

body.light .checkbox-content {
    color: var(--color-neutral-900);
}

body.light input[type="checkbox"] {
    background-color: var(--color-purple-400);
    border: 1px solid var(--color-neutral-900);
}
body.light input[type="checkbox"] {
    background-color: var(--color-purple-400);
    border: none;
}

body.light .set-character-limit input[type="number"] {
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-900);
}

 body.light .set-character-limit input[type="number"]::placeholder {
    color: var(--color-neutral-900);
}

body.light .letter-density-wrapper {
    color: var(--color-neutral-900);
}

body.light .letter-bar-wrapper {
    background: var(--color-neutral-200);
}

body.light .toggle-text {
    color: var(--color-neutral-900);
}