@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --color-neutral-900: #12131a;
  --color-neutral-800: #21222c;
  --color-neutral-700: #2a2b37;
  --color-neutral-600: #404254;
  --color-neutral-200: #e4e4ef;
  --color-neutral-100: #f2f2f7;
  --color-neutral-0: #ffffff;
  --color-purple-400: #d3a0fa;
  --color-purple-500: #c27cf8;
  --yellow-500: #ff9f00;
  --orange-500: #fe8159;
  --orange-800: #da3701;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
}