@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --soft-cyan: hsl(174, 77%, 80%);
    --strong-cyan: hsl(174, 86%, 45%);
    --light-grayish: hsl(14, 92%, 95%);
    --light-red: hsl(15, 100%, 70%);
    --pale-blue: hsl(226, 100%, 87%);
    --White: hsl (0, 0%, 100%);
    --very-pale-blue: hsl(230, 100%, 99%);
    --light-grayish-blue: hsl(224, 65%, 95%);
    --lighter-grayish-blue: hsl(223, 50%, 87%);
    --grayish-blue: hsl(225, 20%, 60%);
    --dark-desaturated-blue: hsl(227, 35%, 25%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
}