@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
    background: var(--light-grayish-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    padding: 2rem;
}

main h2 {
    color: var(--very-dark-cyan);
    font-size: 2rem;
}

form {
    width: 90vw;
    height: 90vh;
    background: var(--white);  
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

form h3 {
    color: var(--dark-grayish-cyan);
    font-size: 1.125rem;
}

form button,
form input {
    font-family: "Space Mono", monospace;
    color: var(--very-dark-cyan);
}

.calculation-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.billing,
.customer-count,
.custom-percent {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    position: relative;
}

.billing input,
.customer-count input {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--very-light-grayish-cyan);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: right;
    padding-right: 0.75rem;
}


.billing input:focus,
.customer-count input:focus {
    outline: 0.125rem solid var(--very-dark-cyan)
}

.billing img,
.customer-count img {
    position: absolute;
    top: 60%;
    left: 5%;
}

#tip-options {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0.75rem;
}

#tip-options button,
#tip-options input {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#tip-options button {
    background-color: var(--very-dark-cyan);
    color: var(--very-light-grayish-cyan);
}

#tip-options button.active {
    outline: none;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

#tip-options input  {
    text-align: right;
    background-color: var(--very-light-grayish-cyan);
}

#tip-options input.active {
    outline: 0.125rem solid var(--very-dark-cyan)
}

.display-section {
    background-color: var(--very-dark-cyan);
    border-radius: 0.75rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.amount-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.display-section h4 {
    color: var(--very-light-grayish-cyan);
}

.display-section p {
    color: var(--light-grayish-cyan);
    opacity: 0.5;
    font-size: 0.875rem;
    font-weight: 600;
}

.tip-aggregator,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--strong-cyan);
}

.display-section output {
    font-size: 1.5rem;
    font-weight: 600;
}

.display-section button {
    padding: 0.625rem 0;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--strong-cyan);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.display-section button:active {
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
}

@media (min-width: 768px) {
    form {
        width: 46rem;
        height: 27rem;
        display: flex;
        flex-direction: row;    }

    .calculation-section {
        width: 50%;
    }
    .display-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #tip-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 0.75rem;
    }
    #tip-options button,
    #tip-options input {
        padding: 0.5rem;
        font-size: 1.125rem;
    }
}