@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    overflow: hidden;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

article {
    width: 80vw;
    height: 8.5rem;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0.75rem;
    background: rgba(255, 255, 255, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    cursor: pointer;
    overflow: hidden;

}

#quote {
    width: 90%;
}

.quote-text {
    padding-bottom: 1rem;
    line-height: 1.6;
}

.time-display {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 16px;
    position: absolute;
    bottom: 10%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    overflow: hidden;
}

#greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#greeting-text {
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: 0.063rem;
}

.real-time {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.5rem;
}

#time {
    font-size: 6.5rem;
}

#gmt {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-location-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.location-status-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#location-status {
    font-weight: 500;
    color: rgb(233, 38, 4);
}

#retry-location {
    padding: 0.5rem;
    border: none;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
}

hr{
    display: none;
}

.more-btn {
    width: 10rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem 1rem;
    border: none;
    border-radius: 4rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    overflow: hidden;
}

#btn-toggle {
    color: grey;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.125rem;
}

#more-icon {
    background-color: #000000;
    padding: 0.938rem;
    border-radius: 50%;
}

.more-section {
    display: none;
    opacity: 0;
}

.more-section.show {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transform: translateY(0);
}

.more-display-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.more-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.more-section div h3 {
    color: rgb(73, 71, 71);
    font-weight: 600;
}

.more-section div p {
    font-size: 1.25rem;
    font-weight: 700;
    padding-right: 0.5rem;
    color: #000000;
}

.time-display.move-top {
    bottom: auto;
    transform: translateY(4%);
}

@media (min-width: 768px) {
    article {
        width: 30rem;
    }
}

@media (min-width: 1024px) {
    .more-btn {
        position: absolute;
        bottom: 5%;
        right: 1%;
    }

    .more-section.show {
        padding: 6rem 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .more-display-wrapper {
        gap: 2rem;
    }

    .more-display {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    hr {
        display: flex;
        border: none;
        background-color: gray;
        width: 0.125rem;
        height: 13rem; 
        position: absolute;
        left: 60%;
    }
    .more-section div p {
        font-size: 2rem; 
    }

}

/* Light theme */
.light-theme {
  background: rgba(255, 255, 255, 0.59);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
}

/* Dark theme */
.dark-theme {
  background: rgba(45, 42, 42, 0.67);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
}


.more-section.dark-theme div h3 {
    color: #fff;
}

.more-section.dark-theme div p {
    color: #fff;
}

@media (max-width: 480px) {
    .time-display {
        width: 85%;
    }

    #greeting-text {
        font-size: 1rem;
    }
    
    #time {
        font-size: 6rem;
    }
    
    .more-btn {
        width: 8.5rem;
        height: 2rem;
        padding: 1.25rem 1rem;
    }

    #btn-toggle {
        font-size: 1rem;
    }
    #more-icon {
        padding: 0.875rem;
    }

    .more-section.show {
        gap: 2rem;
        padding: 2rem 1rem;
    }
    .more-display-wrapper {
        gap: 2rem;
    }

    .more-section div h3,
    .more-section div p {
        font-size: 1rem;
    }
}